.clear {
	clear: both;
}

.slogan {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-style: italic;
  padding-top: 35px;
}


.links {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;	
  	padding-top:26px;
  	text-align: right;
}

.links a {
  color:black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
}

image {
	border: 0;
}

header {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  background: #e2adad;
  height: 100px;
}

hr {
  	clear:both;
}

h1 {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-size: 38px;
	color: #e0d7da;
}

h2 {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-size: 26px;
	color: #e0d7da;
}

.next-quote {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	color: #f84342;
	font-size: 15px;
}

.footer-blurb {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	text-align: right;
	font-size: 15px;
}

.logo:hover {
	text-decoration: none;
}

.about, .modal {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-size: 20px;
}

.about {
	color: #e0d7da;
}

h2 span {
  color: #918e90;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  padding-top: 26px;
}

::selection {
	background-color: #f84342;
}

body {
	background-image: url(adam_sunset.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
	background-size: cover;
}

.quotebody {
	background: black;
	width: 40%;
	float: right;
	margin-right: 30px;
	margin-bottom: 100px;
}


@media (max-width: 750px) {
	.footer-blurb {
	    text-align: left;
	}

	.quotebody {
		width: 90%;
		float: center;		
	}
}